@font-face {
	font-family: open sans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../fonts/opensans.woff2") format("woff2");
}

@font-face {
	font-family: open sans;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../../fonts/opensansbold.woff2") format("woff2");
}

@font-face {
	font-family: oswald;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../fonts/oswald-regular.woff2") format("woff2");
}

@font-face {
	font-family: oswald;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../../fonts/oswald-medium.woff2") format("woff2");
}

@font-face {
	font-family: lato;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../fonts/lato-regular.woff2") format("woff2");
}

:root {
	--main-font: lato, sans-serif;
	--accent-font: oswald, sans-serif;
}
